<section class="container">

<h1>Création d'un Profil Professionnelle</h1>

<form (ngSubmit)="sendUser()">

  <div class="form-group">
    <label for="pseudo" class="control-label">Pseudo</label>
  <input [(ngModel)]="user.username" type="text" class="form-control" id="pseudo" name="username" placeholder="Pseudo">
  </div>

  <div class="form-group">
    <label for="password" class="control-label">Mot de Passe</label>
      <input [(ngModel)]="user.password" type="password" class="form-control" name="password" id="password"  placeholder="Mot de Passe">
  </div>

  <div class="form-group">
    <label for="email" class="control-label">Email</label>
      <input [(ngModel)]="user.email" type="text" class="form-control" name="email" id="email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="prenom" class="control-label">Prenom</label>
      <input [(ngModel)]="user.firstName" type="text" class="form-control" name="prenom" id="prenom" placeholder="Prenom">
  </div>

  <div class="form-group">
    <label for="nom" class="control-label">Nom</label>
    <input [(ngModel)]="user.lastName" type="text" class="form-control" name="nom" id="nom" placeholder="Nom">
  </div>

  <div class="form-group">
    <label for="role" class="control-label">Role</label>
    <input [(ngModel)]="user.role" type="radio" class="form-control" name="professionnelle" value="professionnelle" id="role" placeholder="Role">
    <label for="role">Professionnelle</label>
    <input [(ngModel)]="user.role" type="radio" class="form-control" name="client" value="client" id="role2" placeholder="Role">
    <label for="role2">Client</label>
  </div>

  <div class="form-group">
    <label for="siret" class="control-label">Siret</label>
    <input [(ngModel)]="user.siret" type="text" class="form-control" name="siret" id="siret" placeholder="siret">
  </div>

  <div class="form-group">
    <label for="adresse" class="control-label">Adresse</label>
    <input [(ngModel)]="user.adresse" type="text" class="form-control" name="adresse" id="adresse" placeholder="Adresse">
  </div>

  <div class="form-group">
    <label for="ville" class="control-label">Ville</label>
    <input [(ngModel)]="user.ville" type="text" class="form-control" name="ville" id="ville" placeholder="Ville">
  </div>

  <div class="form-group">
    <label for="date" class="control-label">CreatedAt</label>
    <input [(ngModel)]="user.CreatedAt" type="date" class="form-control" name="date" id="date" placeholder="Date">
  </div>

  <div class="form-group"> <!-- Register Button -->
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>

  <p>{{ user | json }}</p>
</section>
